<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-customer">Create new customer</a>
<div class="notify">
    <div th:if="${message}">
        <!--/*@thymesVar id="message" type="com.codegym.AppConfiguration"*/-->
        <span th:text="${message}"></span>
    </div>
<h1>Customers</h1>
<table border="1">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td><a th:href="@{/edit-customer/{id}(id=${customer.getId()})}">Edit</a></td>
            <td><a th:href="@{/delete-customer/{id}(id=${customer.getId()})}">Delete</a></td>
            <td><a th:href="@{/view-customer/{id}(id=${customer.getId()})}">View</a></td>
        </tr>
        </tr>
    </th:block>
</table>
</div>
</body>
</html>